<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>QuabbCard</name>

    <description>
	Quabb Card
    </description>

    <author href="https://devolute.org" email="andi@devolute.org">
        d:evolute
    </author>

    <icon src="icon.png" />

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <gap:splash src="splash.png" />

    <gap:plugin name="org.apache.cordova.globalization" version="0.3.1" />

</widget>
